<configuration>
	<system.serviceModel>
		<bindings>
			<wsDualHttpBinding>
				<binding name="WSDualHttpBinding_ITagService"
						 maxBufferPoolSize="2147483647"
						 maxReceivedMessageSize="2147483647">
					<readerQuotas maxDepth="2147483647"
								  maxStringContentLength="2147483647"
								  maxArrayLength="2147483647"
								  maxBytesPerRead="2147483647"
								  maxNameTableCharCount="2147483647" />
				</binding>
			</wsDualHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:64310/DatabaseManagementService/TagService.svc"
					  binding="wsDualHttpBinding"
					  bindingConfiguration="WSDualHttpBinding_ITagService"
					  contract="ServiceReference1.ITagService"
					  name="WSDualHttpBinding_ITagService" />
		</client>
	</system.serviceModel>
</configuration>
